server {
    listen              8443;
    location /*TOKEN*/ {
        proxy_pass https://127.0.0.1:5000/;
    }

    ssl    on;
    ssl_certificate    *PATH TO THE CERTIFICATE*;
    ssl_certificate_key    *PATH TO THE PRIVATE KEY*;

    server_name *DNS RESOLVABLE URL*;
}